.select-filter-field {
  width: 100%;
}

:host ::ng-deep .select-filter-field .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

:host ::ng-deep .select-filter-field .mat-mdc-text-field-wrapper {
  background-color: var(--color-bg-card);
  
}

:host ::ng-deep .select-filter-field .mat-mdc-form-field-flex {
  height: 48px;
  align-items: center;
}

:host ::ng-deep .select-filter-field .mdc-notched-outline__leading,
:host ::ng-deep .select-filter-field .mdc-notched-outline__notch,
:host ::ng-deep .select-filter-field .mdc-notched-outline__trailing {
  border-color: var(--color-border) !important;
}

:host ::ng-deep .select-filter-field .mat-mdc-select-value,
:host ::ng-deep .select-filter-field .mat-mdc-select-value-text,
:host ::ng-deep .select-filter-field .mat-mdc-select-min-line,
:host ::ng-deep .select-filter-field .mat-mdc-select-placeholder {
  color: var(--color-texto-primario) !important;
  opacity: 1 !important;

  font-size: 14px;
}

:host ::ng-deep .select-filter-field .mat-mdc-select-arrow {
  color: var(--color-texto-primario) !important;
}

:host ::ng-deep .select-filter-field.mat-focused .mdc-notched-outline__leading,
:host ::ng-deep .select-filter-field.mat-focused .mdc-notched-outline__notch,
:host ::ng-deep .select-filter-field.mat-focused .mdc-notched-outline__trailing {
  border-color: var(--color-principal) !important;
  border-width: 2px !important;
}

