<div class="container">
  <app-bread-crumb [items]="breadcrumbs()"></app-bread-crumb>


  <div class="page-container">

    <div class="account-card">
      <div class="avatar-circle">
        {{ avatarLetter }}
      </div>

      <h1 class="card-title">Mi cuenta</h1>
      <p class="card-subtitle">Información de tu perfil</p>



      <div class="field-group">
        <label class="field-label">
          <mat-icon>person</mat-icon>
          Usuario
        </label>

        @if (!editMode()) {
        <p class="field-value">{{ user().username }}</p>
        } @else {
        <mat-form-field appearance="outline" class="field-input">
          <input matInput [formField]="userForm.username" autocomplete="off">
        </mat-form-field>
        }
      </div>

      <div class="field-group">
        <label class="field-label">
          <mat-icon>mail</mat-icon>
          Correo electrónico
        </label>

        @if (!editMode()) {
        <p class="field-value">{{ user().email }}</p>
        } @else {
        <mat-form-field appearance="outline" class="field-input">
          <input matInput type="email" [formField]="userForm.email" autocomplete="off">
        </mat-form-field>
        }
      </div>


      @if (!editMode()) {
      <button mat-flat-button class="update-btn" (click)="toggleEdit()">
        <mat-icon>edit</mat-icon>
        Actualizar
      </button>
      } @else {
      <div class="row g-2">
        <div class="col-12 col-sm-6">
          <button mat-stroked-button class="cancel-btn w-100" (click)="cancelar()">
            Cancelar
          </button>
        </div>

        <div class="col-12 col-sm-6">
          <button mat-flat-button class="save-btn w-100" (click)="guardar()">
            <mat-icon>check</mat-icon>
            Guardar
          </button>
        </div>
      </div>
      }


    </div>
  </div>
</div>