/*SELECT FILTER*/
::ng-deep .mat-mdc-select-panel {
  background-color: var(--color-pagina-principal) !important;
  color: var(--color-texto-primario) !important;
}

::ng-deep .mat-mdc-option {
  color: var(--color-texto-primario) !important;
}

::ng-deep .mat-mdc-option .mat-mdc-option-pseudo-checkbox,
::ng-deep .mat-pseudo-checkbox {
  color: var(--color-texto-primario) !important;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  color: var(--color-texto-secundario) !important;
}
::ng-deep .mat-datepicker-toggle .mat-mdc-icon-button {
  color: var(--color-texto-primario);
}

::ng-deep .mat-datepicker-toggle .mat-datepicker-toggle-default-icon {
  fill: var(--color-texto-primario);
}